section {
  background-color: hsl(var(--gray-9-hsl) / 70%);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-2);
  padding-block: var(--size-3);
  padding-inline: var(--size-5);

  @media (prefers-color-scheme: light) {
    background-color: var(--surface-1);
  }
}

.card-activity-container {
  container-type: inline-size;
}

header {
  align-items: center;
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: var(--size-3);

  & .username {
    font-size: 0.875rem;
    font-weight: 500;
  }

  & .subtitle {
    font-size: var(--font-size-0);
    margin: 0;
  }

  & .avatar {
    background-color: var(--brand);
    border-radius: 100vmax;
    display: grid;
    font-weight: 700;
    height: 40px;
    margin: 0;
    place-items: center;
    text-transform: uppercase;
    width: 100%;
  }
}

.body {
  align-items: center;
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: var(--size-3);

  & img {
    background: var(--gradient-2);
    border-radius: var(--radius-3);
    grid-column: 1/-1;
    height: 100%;
    margin-block: var(--size-3);
    max-height: 218px;
    object-fit: cover;
    width: 100%;
  }

  & h2 {
    font-size: var(--font-size-3);

    & + p {
      font-size: var(--font-size-0);
      margin-block: 1em;
    }
  }
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--size-3);
  list-style: none;
  margin: 1em 0 0;
  padding: 0;

  & li {
    display: flex;
    flex-direction: column;
    padding: 0;
    & span {
      font-size: var(--font-size-0);
    }
  }
}

footer {
  align-items: center;
  display: flex;
  gap: var(--size-2);
  justify-content: space-between;

  & .interactions {
    & button {
      background-color: transparent;
      border: 1px solid var(--text-1);
      border-radius: var(--radius-2);
      font-size: var(--font-size-3);
      padding: var(--size-2);

      &:hover {
        --hover-opacity: 10%;
        @media (prefers-color-scheme: light) {
          --hover-opacity: 0.05%;
        }

        background-color: color-mix(
          in srgb,
          var(--surface-4),
          var(--text-1) var(--hover-opacity)
        );
      }

      & span {
        display: none;
      }
    }
  }
}

@container (width <= 400px) {
  section {
    background-color: tomato;
  }
}
