---
import Layout from "../layouts/Layout.astro"
import CardActivity from "../components/CardActivity.astro"
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="card-list">
      <CardActivity
        activity={{
          activityType: "bike",
          comments: 4,
          description:
            "Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.",
          duration: 30,
          location: "Stockholm",
          likes: 4,
          date: "08:30",
          title: "Morning run",
        }}
        user={{
          imageUrl: "",
          name: "Felix Bohlin",
          profileUrl: "#",
        }}
      />
      <CardActivity
        activity={{
          activityType: "tennis",
          comments: 4,
          description:
            "Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.",
          duration: 30,
          location: "Stockholm",
          likes: 4,
          date: "08:30",
          title: "Morning run",
        }}
        user={{
          imageUrl: "",
          name: "Felix Bohlin",
          profileUrl: "#",
        }}
      />
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }

  .card-list {
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
  }
</style>
