---
---

<section>
  <header>
    <p>FB</p>
    <a href="#">Felix Bohlin</a>
    <p>Today at 08:03 · Stockholm</p>
  </header>

  <div>
    <p>Cycling</p>
    <h2><a href="#">Moring Ride</a></h2>
    <p>
      I felt great today! Cycling is so much fun! Lorem ipsum dolor sit amet.
      Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
    </p>

    <ul>
      <li><span>Distance</span> 3.60 km</li>
      <li><span>Time</span> 10m 39s</li>
    </ul>
  </div>

  <footer></footer>
</section>
